.page-template-about .main-navigation{
	background: transparent;
	height: 0px;
	.menu a{
		color: $color__background-body;
	}
	.fa-search{
		color: $color__background-body;
		&:hover{
		color:#f0e4d1;
		}
	}
	.header-logo{
		background: url("../../images/logos/inhabitent-logo-tent-white.svg") no-repeat;
    	background-size: contain;
    }
}
.page-template-about .entry-header {
	display:flex;
	height: 750px;
    background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ), 
	url("../../images/about-hero.jpg") no-repeat center bottom;
    background-size: cover, cover;
		.entry-title{
			width: 100%;
			text-align: center;
			align-self: center;
			color: $color__background-body;
			text-transform: uppercase;
			font-size: 3rem;
		}
}
.page-template-about .container{
	margin: 0 auto;
	.entry-content{
		margin: 3rem auto;
		max-width: 800px;
		line-height: 1.8;
		h2{
			letter-spacing: 0.1rem;
			text-align: center;
			text-transform: uppercase;
			font-size: 2.1rem;
		}
		.BodyA span{
		line-height: 1.8;
		}
	}

}

