.page-template-about .main-navigation{
	background: transparent;
	height: 0px;
	li a{
		color: white;
	}
	.fa{
		color: white;
	}
}
.page-template-about .entry-header {
	display:flex;
	width:100%;
	height: 750px;
	margin-top: 0;
    background: linear-gradient( to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100% ), 
	url("../../images/about-hero.jpg") no-repeat center bottom;
    background-size: cover, cover;
		.entry-title{
			width: 100%;
			text-align: center;
			align-self: center;
			color: white;
			text-transform: uppercase;
			font-size: 3rem;
		}
	
}

.page-template-about .container{
	margin-left: auto;
    margin-right: auto;
    width: 1120px;
}
.page-template-about .entry-content{
	margin: 3rem auto;
    max-width: 800px;
	line-height: 1.8;
		h2{
			letter-spacing: 0.1rem;
			text-align: center;
			text-transform: uppercase;
			font-size: 2.1rem;
		}
		.BodyA span{
		line-height: 1.8;
}
}

