    ul{
           padding-left: 0;
       }

.archive .allproducts{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       margin: 0 auto;
       width: 1120px;
   
       li{
           border: 1px solid #e1e1e1;
           flex: 0 1 23%;
           max-width: 23%;
           margin-bottom: 1.5rem;
           list-style:none;
           text-align: center;
           .archive-product{
               position: relative;
               height: 250px;
               overflow: hidden;
           }

           img{
               position: absolute;
               left: 50%;
               top: 50%;
               border-bottom: 5px solid lightgray;
               max-height: 250px;
               max-width: none;
               width: auto;
               transform: translate(-50%, -52%);
           }
       }
}

