.archive .main-navigation{
    border-bottom:1px solid #e1e1e1;
    background-color: $color__background-body;
    opacity: 0.9;
    position: fixed;
    z-index: 1;
    h1{
    text-transform: uppercase;
    text-align:center;
    font-size: 2.5rem;
    padding: 1rem;
    letter-spacing: 0.1rem;
    }   
    #primary-menu a:hover{
		color:#2f1339;
	}
    i:hover{
		color:#2f1339;
	}
    .archive .page-header{
        display:flex;
        flex-wrap: wrap;
        width: 1120px;
        margin: 0 auto;
        padding-top: 2.5rem;
        h1{
            width:100%;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        ul{
            margin-bottom: 2.5rem;
        }
        li{
            list-style:none;
            display: inline-block;
            width: 90px;
            a{
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                h2{
                font-size: 1.2rem;
                font-weight: lighter;
                }
            }
        }
    } 
}
.archive .allproducts{
       border-top:1px dashed #c8c8c8;
       padding-top:3rem;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       margin: 0 auto;
       width: 1120px;
       li{
           border: 1px solid #e1e1e1;
           flex: 0 1 23%;
           max-width: 23%;
           margin-bottom: 1.5rem;
           list-style:none;
           text-align: center;
           .archive-product{
               position: relative;
               height: 250px;
               overflow: hidden;
           }
           img{
               position: absolute;
               left: 50%;
               top: 50%;
               border-bottom: 5px solid lightgray;
               max-height: 250px;
               max-width: none;
               width: auto;
               transform: translate(-50%, -52%);
           }
           .archive-product-text{
                padding: 0 1.2rem;
                display: flex;
                align-items: baseline;
                justify-content: center;
                justify-content: space-around;
                p{
                    display: inline-block;
                }
            }
           .archive-title{
                line-height: 0.8;
                white-space: nowrap;
                overflow: hidden;
             &:after{
            content: '.............................';
            display:inline;
            overflow: hidden;
            }
        }
    }
    .archive ul{
        padding-left: 0;
        margin: 0 auto;
    }
    .taxonomy-description {
        width: 100%;
        text-align: center;
    }
}

