.error404 .main-navigation{
    border-bottom: $base__border;
    background-color: $color__background-body;
    opacity: 0.9;
    position: fixed;
    z-index: 1;
    #primary-menu a:hover{
		color:$color__link-hover;
	}
    i:hover{
		color:$color__link-hover;
	}
}
.error404 .site-content{
    letter-spacing: 0.05rem;
    display: flex;
    width: $base__website-width;
    margin: 0 auto;
    padding-bottom: 3rem;
    #primary{
        width:75%;
        padding:0 5% 0 0 ;
        border-right: $base__border;
        .page-header h1{
            text-transform: uppercase;
            font-size: 2.5rem;
        }  
    }
    fieldset{
        border:none;
        padding: 0;
        button{
            display: none;
            input{
                 background-color: #f2f2f2;
             }
         }
    }
    #secondary{
        padding: 3rem 0 0 5%;
        width: 28%;
        h2{
            letter-spacing: 0.1rem;
            text-transform: uppercase;
        }
        .day-of-week{
            font-weight: bold;
        }
        .textwidget{
            line-height: 2.7;
            i {
                margin-right: .5rem;
                width: 20px;
            }  
            a{
                text-decoration: none;
            }
            .bolden{
                font-weight: bold;
            }
        }
        #archives-2 ul{
            padding: 0;
            margin: 0;
            list-style: none;
            a{
                text-decoration: none;
            }
        }
    }
}
.error404 .widget{
    h2{
        text-transform: uppercase;
    }
    ul{
        margin-left: 0;
        padding-left: 0;
        li{
            list-style: none;
            a{
                text-decoration: none;
            }
        }
    } 
}