.page-template-find-us #content{
    display: flex;
    width:100%;
    margin: 0 auto;
}

.page-template-find-us #primary{
    width:75%;
    padding: 5% 5% 0 0 ;
    border-right: 1px solid #e1e1e1;
}
 .page-template-find-us #secondary{
        width:25%;
        padding: 2rem 2rem 0 1rem ;
        letter-spacing: 0.1rem;
 }