.page-template-find-us .main-navigation{
    @include headerSubMain;
}
.page-template-find-us #content{
    @include siteContent;
    article{
        margin-bottom: 8rem;
    }
    .entry-header{
        line-height: 0;
        color: $color__background-body;
        text-transform: uppercase;
        h1{
            font-size: 2.5rem;
            width: 36rem;
            line-height: 1.3;
            color:$color__text-main;
        }
    }
    .entry-content{
        h2{
            font-size: 2rem;
            letter-spacing: 0.1rem;
        }
        .wpcf7-validates-as-required{
            background-color: #f2f2f2;
        }
        .wpcf7-text{
            background-color: #f2f2f2;
        }
        textarea{
            background-color:#f2f2f2;
        }
    }
}
   
#archives-2 ul{
   @include archives;
}
   

