.site-footer{
    display: flex;
    flex-wrap: wrap;
    background: url("../../images/dark-wood@2x.png");
    height: 350px;
    justify-content: space-around;
    padding: 70px 40px 0px 40px;
    color: white;
        h3{
            margin-top: 0;
            color:#d99054;
        }
        a{
            color: white;
            text-decoration: none;
        }
       


    .contactInfo{
        flex-basis: 25%;

    }
    .businessHour{
        flex-basis: 25%;

    }
    .footerLogo_div{
        flex-basis: 50%;
        display: flex;
	    align-items: flex-start;
		justify-content: flex-end;
        img{
            width: 280px;

        }
        
    }
    .copyright{
        p{
            text-transform: uppercase;
        }
        
    }
    
}