.blog .main-navigation{
    @include headerSubMain;
}
.blog .site-content{
    @include siteContent;
    .readmore{
        margin-bottom: 4.5rem;
    }
    .read-more {
        text-decoration:none;
        padding:0.8rem $base__space-unit;
        border: $second__border;
        text-transform: uppercase;
        font-family: $font__headings, sans-serif;
        color: $color__text-main;
        font-size: 0.9rem;
        &:hover{
        background: $color__link; 
        color: $color__background-body;
        }
    }
    @include entryHeader;
}
    #secondary{
        padding: 3rem 0 0 5%;
        width: 28%;
        h2{
            letter-spacing: 0.1rem;
            text-transform: uppercase;
        }
        .day-of-week{
            font-weight: bold;
        }
        .textwidget{
            line-height: 2.7;
            i {
                margin-right: .5rem;
                width: 20px;
            }  
            a{
                text-decoration: none;
            }
            a:hover{
                color: $color__link-hover;
            }
            .bolden{
                font-weight: bold;
            }
        }
        #archives-2 ul{
            padding: 0;
            margin: 0;
            list-style: none;
            a{
                text-decoration: none;
            }
        }
    }

