.search .main-navigation{
    border-bottom: $base__border;
    background-color: $color__background-body;
    opacity: 0.9;
    position: fixed;
    z-index: 1;
}
.search .site-content{
    display: flex;
    width: 1120px;
    margin: 0 auto;
    padding-top: 2.5rem;
    article{
        padding-bottom: 1rem;
    }
    nav{
        border-top: $base__border;
        height: 5rem;
        padding-top: 1rem;
        font-family: $font__headings;
        span{
            padding:0.3rem 0.8rem;
            background-color: grey;
            color:$color__background-body;
            text-decoration: none;
        }
        a{
            padding:0.3rem 0.8rem;
            background-color: $color__link;
            text-transform: uppercase;
            color:$color__background-body;
            text-decoration: none;
        }
    }
    .page-header h1{
        text-transform: uppercase;
        padding-bottom: 1rem;
        border-bottom: $base__border;
        font-size: 2.3rem;
    }
    h2 a{
        text-transform: uppercase;
        text-decoration: none;
        font-size:2rem;
    }
    #primary{
        width:75%;
        padding: 5% 5% 0 0 ;
        border-right: $base__border;
    }
        .readmore{
            margin-bottom: 4.5rem;
        }
        .read-more {
            text-decoration:none;
            padding:0.8rem $base__space-unit;
            border: $second__border;
            text-transform: uppercase;
            font-family: $font__headings, sans-serif;
            color: black;
            font-size: 0.9rem;
            &:hover{
                background: $color__link; 
                color: $color__background-body;
            }
        }
        
    #secondary{
        padding: 3rem 0 0 5%;
        width: 28%;
        h2{
            letter-spacing: 0.1rem;
            text-transform: uppercase;
        }
        .day-of-week{
            font-weight: bold;
        }
        .textwidget{
            line-height: 2.7;
            i {
                margin-right: .5rem;
                width: 20px;
            }  
            a{
                text-decoration: none;
            }
            a:hover{
                color: $color__link-hover;
            }
            .bolden{
                font-weight: bold;
            }
        }
        #archives-2 ul{
            padding: 0;
            margin: 0;
            list-style: none;
            a{
                text-decoration: none;
            }
        }
    }
 
}
