.single-post .main-navigation{
    border-bottom: 1px solid #e1e1e1;
}

.single-post .site-content{
    display: flex;
    width: 1120px;
    margin: 0 auto;
    #primary{
        width:75%;
        padding: 5% 5% 0 0 ;
        border-right: 1px solid #e1e1e1;
    }

        .entry-header{
        position: relative;
        line-height: 0;
        color: #fff;
        text-transform: uppercase;
            img{
                width: 100%;
            }
            .entry-title{
                position: absolute;
                left: 0;
                top: 0;
                background-color: #248a83;
                padding: 0.7rem 1.8rem;
                font-size: 2rem;
                width: 36rem;
                line-height: 1.3;
                font-size: 2.3rem;
                text-decoration: none;
                color: #fff;
                    a{
                        font-size: 2.3rem;
                        text-decoration: none;
                        color: #fff;
                    }
            }
            .entry-meta{
                font-family: novecento,sans-serif;
                letter-spacing: 0.03rem;
                position: absolute;
                background-color: #248a83;
                padding: 1rem 1rem;
                bottom: 0;
                right: 0;
                 .comments-link a{
                    color:white;
                    text-decoration:none;
                }
            }
          
        }
        .entry-footer {
            font-family: novecento,sans-serif;
            text-transform: uppercase;
            .cat-links{
                margin-right: 1.5rem;
            }
        }

    #secondary{
        padding: 3rem 0 0 5%;
        width: 27%;
        h2{
            letter-spacing: 0.1rem;
        }
        .textwidget{
            line-height: 2.7;
            i {
                margin-right: .5rem;
                width: 20px;
            }  
            a{
                text-decoration: none;
            }
            .bolden{
                font-weight: bold;
            }
        }

        #archives-2 ul{
            padding: 0;
            margin: 0;
            list-style: none;
                a{
                    text-decoration: none;
                }
        }
    }
}