.single-post .main-navigation{
    border-bottom: 1px solid #e1e1e1;
}

.single-post .site-content{
    display: flex;
    width: 1120px;
    margin: 0 auto;
    #primary{
        width:75%;
        padding: 5% 5% 0 0 ;
        border-right: 1px solid #e1e1e1;
    }
      button{
            background-color: white;
            border: 1px solid black;
             a{
            text-decoration: none;
            color: black;
            }
            i{
            padding-right: 0.5rem;
            }
        }
        button:hover{
            background: #248a83;  
            color: white;
        }
    .entry-header{
        position: relative;
        line-height: 0;
        color: #fff;
        text-transform: uppercase;
            img{
                width: 100%;
            }
        .entry-title{
            position: absolute;
            left: 0;
            top: 0;
            background-color: #248a83;
            padding: 0.7rem 1.8rem;
            font-size: 2rem;
            width: 36rem;
            line-height: 1.3;
            font-size: 2.3rem;
            text-decoration: none;
            color: #fff;
            a{
                font-size: 2.3rem;
                text-decoration: none;
                color: #fff;
            }
        }
        .entry-meta{
            font-family: novecento,sans-serif;
            letter-spacing: 0.03rem;
            position: absolute;
            background-color: #248a83;
            padding: 1rem 1rem;
            bottom: 0;
            right: 0;
            .comments-link a{
                color:white;
                text-decoration:none;
            }
        }
    }
    .entry-footer {
        font-family: novecento,sans-serif;
        text-transform: uppercase;
        .cat-links{
            margin-right: 1.5rem;
        }
    }
    #secondary{
        padding: 3rem 0 0 5%;
        width: 28%;
        h2{
            letter-spacing: 0.1rem;
            text-transform: uppercase;
        }
        .day-of-week{
            font-weight: bold;
        }
        .textwidget{
            line-height: 2.7;
            i {
                margin-right: .5rem;
                width: 20px;
            }  
            a{
                text-decoration: none;
            }
            .bolden{
                font-weight: bold;
            }
        }
        #archives-2 ul{
        padding: 0;
        margin: 0;
        list-style: none;
            a{
                text-decoration: none;
            }
        }
    }
    #comments ol{
        padding-left: 0;
        margin-left: 0;
         article{
            display: flex;
            border-bottom: 1px solid #e1e1e1;
            margin: 1rem 0;
            padding-bottom: 1rem;
            img{
                border-radius: 40px;
            }
            .comment-content{
            padding-left: 2rem;
                cite{
                    font-weight: bold;
                    font-style: normal;
                }
                time{
                    color: grey;
                }
            }
            p{
                margin: 0.5rem 0;
            }
            a{
                text-decoration: none;
            }
        }
    }
    #comments h2{
        font-size: 2.3rem;
        text-transform: uppercase;
    }
    #comments #respond{
        display:flex;
        flex-wrap: wrap;
        form{
            width: 100%;
        }
        h3{
        width: 100%;
        font-size: 2rem;
        text-transform: uppercase;
            .comment-form-comment textarea{
                width: 100%;
            }
        }
    }
}