.single-products .main-navigation{
    border-bottom: $base__border;
    #primary-menu a:hover{
		color:$color__link-hover;
	}
    i:hover{
		color:$color__link-hover;
	}
}
.single-products .shop-item{  
    display:flex;
    width: $base__website-width;
    margin: 0 auto 7rem auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .item-img{
        flex-basis: 50%;
    }
    .item-text{
        flex-basis: 50%;
        padding-left: 2rem;
        h2{
            color: $color__text-second;
            font-size: 2.5rem;
            margin-top:0;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        button{
            background-color: $color__background-body;
            border: 1px solid $color__text-main;
            a{
                text-decoration: none;
                color: $color__text-main;
            }
            i{
                padding-right: 0.5rem;
            }
            &:hover{
            background: $color__link; 
            color: $color__background-body;
            }
        }
        .read-more{
            display: none;
        }
        .item-price{
            font-family: $font__headings, sans-serif;
            font-size: 1.8rem;
        }
    }
}